@media screen and (max-width: 768px){
    .analytics-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        margin-bottom: 100px;
    }
    
}

@media screen and (min-width: 768px){
    .analytics-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25%;
        padding: 30px;
    }


}

.analytics-card {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 30px;
}

.device-box {
    background-color: var(--component-box-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 210px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.data-box {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding-bottom: 15px;  
}

.data-box svg {
    color: var(--secondary-text-color-mobile);
}