
@media (min-width: 769px) {
  .go-back-button {
    display: block;
    position: relative;
    top: 1rem;
    left: 25%;
    cursor: pointer;
    margin: 1rem;
    background: none;
    border: none;
  }

  .go-back-icon {
    font-size: 2rem;
    color: var(--primary-text-color);
  }
}

@media (max-width: 768px) {
  .go-back-button {
    display: block;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  .go-back-icon {
    font-size: 2rem;
    color: var(--primary-text-color-mobile);
  }
}
