.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

.header-language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.welcome-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.welcome-user span {
  margin: 0 7px;
}

.lang-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lang-icon span {
  padding: 0 5px;
}

.header-item {
  position: relative;
  margin-left: 10px;
}

.header-item.home-icon {
  color: var(--primary-text-color-mobile);
  text-decoration: none;
}


.header-item.home-icon,
.plus-icon {
  cursor: pointer;
}

.checkcircle-active {
  color: var(--checkcircle-active-color);
}

.checkcircle-inactive {
  color: var(--secondary-text-color-mobile);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overflow-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--component-box-color);
  border-radius: 5px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
}

.overflow-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 0.5s, transform 0.5s, visibility 0s;
}

.language-menu-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.language-menu-item li {
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;

}

.language-menu-item li svg {
  margin-right: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
}

.menu-item .hover-underline-animation {
  color: var(--primary-text-color-mobile);
  text-decoration: none;
  cursor: pointer;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-text-color-mobile);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-item svg {
  margin-right: 10px;
}

.icon-container {
  width: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .header-item.home-icon {
    display: none;
  }

  .plus-icon {
    font-size: 2rem;
  }

  /* .welcome-user {
    display: none;
  } */
}