@media screen and (max-width: 768px) {

  .home-link {
    text-decoration: none;
    color: var(--primary-text-color-mobile);
  }
}

@media screen and (min-width: 769px) {
  .home-container {
    margin-left: 25%;
  }

  .room-container {
    width: 100%;
  }
 

  .home-link {
    text-decoration: none;
    color: var(--primary-text-color-mobile);
  }
}

.rooms-container {
  width: 80%;
}

.room-container {
  margin-top: 30px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.categories-container {
  width: 80%;
}

.rooms-title {
  margin-top: 40px;
}