@media screen and (max-width: 768px){
    

.navbar-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: 88px;
  background-color: var(--navbar-mobile-background-color);
  position: fixed;
  bottom: 0;
    right: 0;
    left: 0;  
}

.navbar-mobile_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-mobile-icon {
    font-size: 24px;

}

}

@media screen and (min-width: 769px) {
    .navbar-mobile {
        display: none;
    }
  }