.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.5rem;
    padding: 0.5rem;
    /* height: 100%; */
    background-color: var(--component-box-color);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 30%;
    min-width: 200px;
    cursor: pointer;
}

.card-body {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.card-column>* {
    margin: 0.2rem 0;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 0.5rem;
}

.icon-on {
    color: var(--light-bulb-on-color);
    transition: color 0.3s ease;
}

.icon-off {
    color: var(--light-bulb-off-color);
    transition: color 0.3s ease;
}