.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--component-box-color);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 30%;
    min-width: 200px;
    cursor: pointer;
}

button.card {
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.card-body {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.card-column>* {
    margin: 0.2rem 0;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 0.5rem;
}

.icon-on.light {
    color: var(--light-bulb-on-color);
    transition: color 0.5s ease;
}

.icon-off.light {
    color: var(--light-bulb-off-color);
    transition: color 0.5s ease;
}

.icon-on.fan {
    color: var(--fan-on-color);
    transition: color 0.5s ease;
}

.icon-off.fan {
    color: var(--light-bulb-off-color);
    transition: color 0.5s ease;
}

.icon-on.tv {
    color: var(--tv-on-color);
    transition: color 0.5s ease;
}

.icon-off.tv {
    color: var(--light-bulb-off-color);
    transition: color 0.5s ease;
}

.noSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}