.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 100%;
    background-color: var(--component-box-color);
    border-radius: 10px;
    box-sizing: border-box;
}
.card-body{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.card-column > * {
    margin: 0.2rem 0;
}
.card-column{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin: 0.5rem;
    padding: 0.5rem;
}