.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--navbar-inactive-text-color);
  transition: .4s;
  border-radius: 34px;
}

.circle {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: .4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-dark {
  background-color: #333;
}

.circle-light {
  background-color: white;
}

input:checked+.slider {
  background-color: #2196F3;
}

.move {
  transform: translateX(26px);
}

.icon {
  position: relative;
  transition: color 0.4s;
}

.sun {
  color: black;
}

.moon {
  color: white;
}