.users-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0 0 0;    
    width: 100%;
}

.users-box {
    display: flex;
    flex-direction: column;
    background-color: var(--component-box-color);
    border-radius: 15px;
    width: 70%;
    min-width: 400px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: #D9D9D9 1px solid;  
}

.user-info:last-child {
    border-bottom: none;
}

.user-initials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--secondary-text-color-mobile);
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .circle-and-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-name h4 {
    margin: 0;
  }

  .user-name p {
    margin: 0;
    color: var(--tertiary-text-color-mobile);
  }

  .user-role {
    color: var(--tertiary-text-color-mobile);
    font-weight: 400;
    padding-left: 15px;
  }

  .role-choicebox {
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    border: var(--secondary-text-color-mobile) 1px solid;
    width: 100px;
  }

  .edit {
    color: var(--secondary-text-color-mobile);
    padding-right: 15px;
    cursor: pointer;
  }

  .delete {
    color: var(--error-message-color);
    cursor: pointer;
  }

  .invite-button {
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
  }

  .invite-button svg {
    margin-right: 10px;
    font-size: 20px;
  }

  .invite-button:hover {
    color: var(--secondary-text-color-mobile);
  }

  @media screen and (max-width: 768px) {
    .users-box {
      width: 90%;
        min-width: 300px;
    }
    
  }