.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25%;
  padding: 1rem;
}

.verticalLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalLayout p {
  margin: 0;
}

.verticalLayout select {
  margin: 0;
}

.horizontalLayout {
  display: flex;
  justify-content: space-between;
}

.dayCheckbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #D9D9D9;
  color: var(--primary-text-color-mobile);
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.selected {
  background: var(--day-circle-active-color);
  color: var(--component-box-color);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.timeInput {
  width: 200px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text-color-mobile);
}

.removeButton:hover {
  color: #c93636;
}

.deviceList {
  list-style-type: none;
  padding-left: 0;
}

.selectBox {
  border: none;
  background-color: #f2f2f2;
  color: #3a3a3a;
  padding: 5px;
  border-radius: 0.625rem;
}

.selectBox:focus {
  outline: none;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}