@media screen and (min-width: 768px) {
  .formContainer {
    margin-left: 25%;
  }

  .buttonsArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .buttonsArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .buttonBox {
    flex-direction: column;
  }
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1rem;
  width: 70%;
}

.verticalLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.verticalLayout input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.verticalLayout select {
  margin: 0;
}

.horizontalLayout {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dayCheckbox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--day-circle-inactive-color);
  color: var(--primary-text-color-mobile);
  text-align: center;
  margin-right: 10px;
  line-height: 40px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

.selected {
  background: var(--day-circle-active-color);
  color: var(--component-box-color);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.timeInput {
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
}

.disabledButton {
  opacity: 0.7;
  cursor: not-allowed;
  color: var(--secondary-text-color-mobile);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text-color-mobile);
}

.removeButton:hover {
  color: #c93636;
}

.deviceList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.selectBox {
  border: none;
  background-color: var(--component-box-color);
  color: var(--primary-text-color-mobile);
  font-family: "Poppins", sans-serif;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.selectBox:focus {
  outline: none;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deviceSelection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.action select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.disableCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.disableCheckbox .checkboxContainer {
  flex-shrink: 0;
}

.disableCheckbox .textContainer {
  flex-grow: 1;
}

.buttonsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* CSS for sensor form */

.sensorLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.sensorLabel select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 102%;
  font-family: "Poppins", sans-serif;
}
