@media (max-width: 768px) {
  .accessories-container {
    padding: 30px;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .accessories-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25%;
    padding: 20px;
    width: calc((100vw - 25vw)*0.8);
  }
}

.title-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;
}

.primary-btn {
  background-color: var(--primary-btn-background-color);
  color: var(--primary-text-color-mobile);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  min-width: 150px;
}

.analytics-btn {
  width: 100%;
}

.device-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.device-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 150px;
  margin: 10px 20px 10px 0;
  padding: 20px;
  background-color: var(--component-box-color);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.secondary-text {
  color: var(--secondary-text-color-mobile);
  font-size: 14px;
}
