:root {
    /* Light theme variables */

    --background-color: linear-gradient(180deg, #FFEDC6 0%, #F8B088 27.5%, #AD7386 74.5%);
    --primary-text-color-mobile: #3a3a3a;
    --secondary-text-color-mobile: #6E6D6D;
    --tertiary-text-color-mobile: #A6A6A6;
    --component-box-color: #F6F6F6;
    --navbar-desktop-background-color: rgba(46, 43, 106, 0.7);
    --navbar-mobile-background-color: rgba(106, 97, 139, 0.85);
    --navbar-active-text-color: #F6F6F6;
    --navbar-inactive-text-color: #B1B0B0;
    --light-bulb-on-color: #FFC700;
    --light-bulb-off-color: #36454F;
    --day-circle-inactive-color: #d9d9d9;
    --day-circle-active-color: #AD7386;
    --error-message-color: #D12F44;
    --input-background-color: #FFFFFF;
    --primary-btn-background-color: #F6F6F6;
    --secondary-btn-text-color: #F6F6F6;
}

/* Dark theme variables */
[data-theme="dark"] {
    --background-color: #1C1A27;
    --primary-text-color-mobile: #E2E2E2;
    --secondary-text-color-mobile: #a1a1a1;
    --component-box-color: #322E40;
    --navbar-desktop-background-color: #121019;
    --navbar-mobile-background-color: #363341;
    --navbar-active-text-color: #F6F6F6;
    --navbar-inactive-text-color: #B1B0B0;
    --light-bulb-on-color: #FFD53F;
    --light-bulb-off-color: #A1A1A1;
    --day-circle-active-color: #C28196;
    --day-circle-inactive-color: #322E40;
    --error-message-color: #d15061;
    --input-background-color: #F6F6F6;
    --primary-btn-background-color: #322E40;
    --secondary-btn-text-color: #F6F6F6;
}